rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{post} {
    	allow read: if resource.data.public == true;
      allow read: if request.auth != null && request.auth.uid in resource.data.viewers;
      allow read, write: if request.auth != null && request.auth.uid in resource.data.editors;
      allow read, write: if request.auth != null && request.auth.uid == resource.data.owner;
      allow create: if request.auth != null;
    }
  }
}