@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-serif;
    }
}

.editor-embedded-widget {
    @apply border-b border-current py-2;
}

.page-margins {
    @apply p-8 pt-0 md:p-20 md:pl-0 flex-grow;
}

.secondary-button {
    @apply border-black select-none border px-4 rounded-3xl md:hover:opacity-50 font-serif font-bold md:text-xl h-8 md:h-9 cursor-pointer transition-opacity duration-500;
    line-height: 1.6;
}

.editor-secondary-button {
    @apply border-black select-none border px-4 rounded-3xl md:hover:opacity-50 font-serif font-bold text-xl h-9 cursor-pointer transition-opacity duration-500;
    line-height: 1.6;
}

.primary-button {
    @apply  bg-black select-none text-white px-4 rounded-3xl md:hover:opacity-50 font-serif font-bold md:text-xl h-8 md:h-9 cursor-pointer transition-opacity duration-500;
    line-height: 1.6;
}

.primary-button.disabled {
    @apply cursor-default pointer-events-none
}

.secondary-button.disabled {
    @apply cursor-default pointer-events-none
}

.nav-button {
    @apply mr-3 md:mr-0 font-serif font-bold md:hover:opacity-50 transition-opacity duration-500 text-left cursor-pointer select-none;
}

.page-transition-enter {
    opacity: 0;
}

.page-transition-enter.page-transition-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-out;
}

.page-transition-exit {
    opacity: 1;
    transform: translate(0, 0);
}

.page-transition-exit.page-transition-exit-active {
    opacity: 0;
    transition: opacity 250ms ease-out;
}

/* bg animation */

.background-transition-enter {
    opacity: 0;
    transform: scale(1.1);
}

.background-transition-enter.background-transition-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: 500ms ease-out;
}

.background-transition-exit {
    opacity: 1;
    transform: scale(1);
    transform: translate(0, 0);
}

.background-transition-exit.background-transition-exit-active {
    opacity: 0;
    transform: scale(1.1);
    transition: 500ms ease-in;
}


.post-editor * td {
    @apply pb-4 text-left align-top whitespace-nowrap pr-8
}

.post-editor * td:last-child {
    @apply w-full pr-0
}

.sponsor-table {
    /* width: auto; */
}

.sponsor-table * td {
    white-space: nowrap;
}

.sponsor-table * td:last-child {
    @apply w-full pr-0
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: currentColor;
    transition: background-color 250ms ease-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: currentColor;
}

/* Editor CSS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.number-input-field {
    @apply rounded-3xl w-20 px-2 bg-transparent border border-current
}

.string-input-cell {
    @apply rounded-3xl w-full bg-transparent px-2 border border-current
}

.matrix-input {
    @apply flex flex-col gap-2
}

.matrix-input-row {
    @apply flex flex-row gap-2
}

.matrix-input-cell {
    @apply number-input-field
}

.color-input-cell {
    @apply rounded-3xl overflow-clip cursor-pointer outline-1 outline-current outline transition-[outline-color]
}

.boolean-input-field {
    transform: translate(0px,8px);
    accent-color: currentColor;
}

.multiline-string-input-cell {
    @apply rounded-3xl w-full bg-transparent p-2 border resize-none border-current
}

.invalid {
    @apply border-red-600 text-red-600;
}

.invalid::placeholder {
    @apply text-red-600 opacity-50;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @apply text-red-600 opacity-50;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    @apply text-red-600 opacity-50;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

div.firebase-emulator-warning {
    top: 0;
    height: 30px;
    width: 200px !important;
    overflow: hidden;
}

.homepage * {
    -ms-overflow-style: none;
}
.homepage * ::-webkit-scrollbar {
    width: 0px;
}

.safari-clip-fix {
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}