@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply font-serif;
    }
}

.editor-embedded-widget {
    @apply border-b border-white py-2
}

.page-margins {
    @apply p-8 pt-0 md:p-20 md:pl-0 flex-grow;
}

.secondary-button {
    @apply border-black select-none border px-4 rounded-full md:hover:opacity-50 font-serif font-bold md:text-xl h-8 md:h-9 cursor-pointer transition-opacity duration-500;
    line-height: 1.6;
}

.editor-secondary-button {
    @apply border-black select-none border px-4 rounded-full md:hover:opacity-50 font-serif font-bold text-xl h-9 cursor-pointer transition-opacity duration-500;
    line-height: 1.6;
}

.primary-button {
    @apply  bg-black select-none text-white px-4 rounded-full md:hover:opacity-50 font-serif font-bold md:text-xl h-8 md:h-9 cursor-pointer transition-opacity duration-500;
    line-height: 1.6;
}

.primary-button.disabled {
    @apply cursor-default pointer-events-none
}

.secondary-button.disabled {
    @apply cursor-default pointer-events-none
}

.nav-button {
    @apply mr-3 md:mr-0 font-serif font-bold md:hover:opacity-50 transition-opacity duration-500 text-left cursor-pointer select-none;
}

.page-transition-enter {
    opacity: 0;
}

.page-transition-enter.page-transition-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-out;
}

.page-transition-exit {
    opacity: 1;
    transform: translate(0, 0);
}

.page-transition-exit.page-transition-exit-active {
    opacity: 0;
    transition: opacity 250ms ease-out;
}


/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 250ms ease-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

/* Editor CSS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.number-input-field {
    @apply bg-white rounded-full w-20 text-black px-2
}

.string-input-cell {
    @apply bg-white rounded-full w-full text-black px-2
}

.matrix-input {
    @apply flex flex-col gap-2
}

.matrix-input-row {
    @apply flex flex-row gap-2
}

.matrix-input-cell {
    @apply bg-white rounded-full w-14 text-black px-2
}

.matrix-input-cell.invalid {
    @apply bg-red-400 border-2 border-red-600
}

.color-input-cell {
    @apply rounded-full overflow-clip
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}